/* Webfont: Braxton-Regular */@font-face {
    font-family: 'Braxton';
    src: url('Braxton-Regular-2.woff2') format('woff2'), /* Modern Browsers */
         url('Braxton-Regular-2.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

