/* Webfont: Wilkysta */@font-face {
    font-family: 'Wilkysta';
    src: url('Wilkysta.eot'); /* IE9 Compat Modes */
    src: url('Wilkysta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Wilkysta.woff') format('woff'), /* Modern Browsers */
         url('Wilkysta.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Braxton-Regular */@font-face {
    font-family: 'Braxton';
    src: url('Braxton-Regular-2.woff2') format('woff2'), /* Modern Browsers */
         url('Braxton-Regular-2.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

a:link, a:visited, a:active, a:hover, a{
    text-decoration: none;
    color:#fefeb5;
}

body { 
    font-size: 20px; font-family: "Wilkysta", Georgia; 
    background-color: #222f21;
}

#bloque {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 16px;
    color: #fefeb5;
}

#nav {
    font-size: 170%;
    font-family: "Braxton", Georgia;
    position: fixed;
    width: 100%;
    top: 0;
}

#contact {
    font-size: 170%;
    font-family: "Braxton", Georgia;
    position: fixed;
    width: 100%;
    bottom: 0;
}
