/* Webfont: Braxton-Regular */@font-face {
    font-family: 'Braxton';
    src: url('Braxton-Regular-2.woff2') format('woff2'), /* Modern Browsers */
         url('Braxton-Regular-2.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

a:link, a:visited, a:active, a:hover, a{
    text-decoration: none;
    color:#222f21;
}

#nav {
    font-size: 170%;
    font-family: "Braxton", Georgia;
    position: fixed;
    width: 100%;
    top: 0;
}

#contact {
    font-size: 170%;
    font-family: "Braxton", Georgia;
    position: fixed;
    width: 100%;
    bottom: 0;
}

body{
    background-color: #fefeb5;
}

#logo{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}